* {
  box-sizing: border-box;
}
body {
  background-color: blanchedalmond;
  color: darkgoldenrod;
  width: 1250px;
  padding-top: 25px;
  font-family: serif;
  text-align: center;
}

h1 {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 40px;
}
nav {
  background-color: rgb(240, 214, 107);
  
}
button {
  color : darkgoldenrod;
  background-color: rgb(240, 214, 107);
  

}

main {
  
  padding-top: 20px;
}

footer {
  background-color: rgb(240, 214, 107);
  padding-top: 20px;
}
